.__PrivateStripeElement {
  width: 100%;
}

.payment form button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #00bb6a;
  border: none;
  border-radius: 5px;
  color: white;
  height: 40px;
  margin-top: 20px;
}

.StripeElement {
  border-radius: 5px;
  box-shadow: 1px 1px 3px grey;
  padding: 10px 5px;
}
